<section class="contact" id="contact">
  <a href="./collection">
    <div class="arrow arrow-back" style="z-index: 2"></div>
  </a>
  <div class="left-header">
    <p class="heading-number">05</p>
  </div>

  <div class="contact-container">
    <div class="section-title">
      <p id="contact-me">CONTACT ME</p>
    </div>
    <div class="contact-wrap">
      <div class="illustration">
        <div class="image-cover">
          <!-- <img src="../../../assets/images/meh.png" alt="" /> -->
          <img src="../../../assets/images/ppjpeg.png" alt="" />
        </div>
      </div>
      <div class="find-me">
        <div class="content">
          <div class="item">
            <p class="item-title">ADDRESS</p>
            <p class="item-desc">
              Kepulauan Riau, Indonesia <br />
              Batam , 29464
            </p>
          </div>
          <div class="item">
            <p class="item-title">EMAIL</p>
            <p class="item-desc">adrymirza@gmail.com</p>
          </div>
          <div class="item">
            <p class="item-title">SOCIAL MEDIA</p>
            <div class="item-icon">
              <a href="https://www.instagram.com/adry_mirza/" target="_blank"
                ><i class="bx bxl-instagram"></i
              ></a>
              <a href="https://www.facebook.com/adry.mirza/" target="_blank"
                ><i class="bx bxl-facebook"></i
              ></a>
              <a href="https://gitlab.com/adrymirza/" target="_blank"
                ><i class="bx bxl-gitlab"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
