<div class="contact">
  <div id="head">
    <div>
      <div class="page-head"><h2 class="page-title">Contact</h2></div>
      <hr class="head-separator" />
    </div>
  </div>
  <div class="contact-content">
    <div class="contact-left">
      <table>
        <tbody>
          <tr>
            <td><h6>email</h6></td>
            <td>
              <div class="link-wrapper">
                <div class="link">
                  <a
                    href="mailto:adrymirza@gmail.com"
                    target="_blank"
                    rel="noreferrer"
                    >↗ adrymirza@gmail.com</a
                  >
                </div>
                <div class="link-underline"></div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="contact-right">
      <table>
        <tbody>
          <tr>
            <td><h6>Social media</h6></td>
            <td>
              <ul>
                <li>
                  <div class="link-wrapper">
                    <div class="link">
                      <a
                        href="https://www.instagram.com/adry_mirza/"
                        target="_blank"
                        rel="noreferrer"
                        >↗ Instagram</a
                      >
                    </div>
                    <div class="link-underline"></div>
                  </div>
                </li>
                <li>
                  <div class="link-wrapper">
                    <div class="link">
                      <a
                        href="https://www.github.com/drymrz"
                        target="_blank"
                        rel="noreferrer"
                        >↗ github</a
                      >
                    </div>
                    <div class="link-underline"></div>
                  </div>
                </li>
                <!-- <li>
                  <div class="link-wrapper">
                    <div class="link">
                      <a
                        href="https://www.linkedin.com/in/charles-b-42bab815a/"
                        target="_blank"
                        rel="noreferrer"
                        >↗ LinkedIn</a
                      >
                    </div>
                    <div class="link-underline"></div>
                  </div>
                </li> -->
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
