<div class="project">
  <div class="header-project" style="opacity: 1; transform: none">
    <div class="hero-image-wrapper">
      <span
        style="
          box-sizing: border-box;
          display: block;
          overflow: hidden;
          width: initial;
          height: initial;
          background: none;
          opacity: 1;
          border: 0px;
          margin: 0px;
          padding: 0px;
          position: absolute;
          inset: 0px;
        "
        ><img
          alt="Cover of the project Buku Tamu"
          sizes="100vw"
          src="../../../../assets/img/compressed/bukutamu/home-bt.webp"
          data-nimg="fill"
          class="hero-image"
          style="
            position: absolute;
            inset: 0px;
            box-sizing: border-box;
            padding: 0px;
            border: none;
            margin: auto;
            display: block;
            width: 0px;
            height: 0px;
            min-width: 100%;
            max-width: 100%;
            min-height: 100%;
            max-height: 100%;
            object-fit: cover;
            object-position: 50% 50%;
          "
      /></span>
    </div>
  </div>
  <div class="project-title" style="opacity: 1; transform: none">
    <div>
      <div class="page-head">
        <h2 class="page-title">Aplikasi Buku Tamu SMKN 7 Batam</h2>
      </div>
      <hr class="head-separator" />
    </div>
  </div>
  <div class="project-intro">
    <div class="project-data" style="opacity: 1; transform: none">
      <table>
        <tbody>
          <tr>
            <td><h6>Category</h6></td>
            <td>
              <ul>
                <li>Web Development</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td><h6>Year</h6></td>
            <td><p>2022</p></td>
          </tr>
          <tr>
            <td><h6>Client</h6></td>
            <td><p>SMK Negeri 7 Batam</p></td>
          </tr>
          <tr>
            <td><h6>Technology</h6></td>
            <td>
              <ul>
                <li>Angular 11</li>
                <li>ExpressJS</li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="project-description" style="opacity: 1; transform: none">
      <p>
        This application was developed with the idea to make it easier to
        collect data on guests visiting SMK Negeri 7 Batam by filling in data in
        the form, taking selfie photos and self-signatures in the application,
        as well as developing digital technology.
      </p>
      <div class="project-website">
        <div class="link-wrapper">
          <div class="link">
            <a
              href="https://tamu.adrymirza.xyz"
              target="_blank"
              rel="noreferrer"
              >↗ View demo website</a
            >
          </div>
          <div class="link-underline"></div>
        </div>
        <div class="link-wrapper" style="margin-top: 10px">
          <div class="link">
            <a
              href="https://www.github.com/drymrz/buku-tamu"
              target="_blank"
              rel="noreferrer"
              >↗ Visit the repository</a
            >
          </div>
          <div class="link-underline"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="project-content" style="opacity: 1; transform: none">
    <h6>Landing Page</h6>
    <div class="project-content-wrapper">
      <span
        style="
          box-sizing: border-box;
          display: inline-block;
          overflow: hidden;
          width: initial;
          height: initial;
          background: none;
          opacity: 1;
          border: 0px;
          margin: 0px;
          padding: 0px;
          position: relative;
          max-width: 100%;
        "
        ><span
          style="
            box-sizing: border-box;
            display: block;
            width: initial;
            height: initial;
            background: none;
            opacity: 1;
            border: 0px;
            margin: 0px;
            padding: 0px;
            max-width: 100%;
          "
          ><img
            alt=""
            aria-hidden="true"
            src="../../../../assets/img/compressed/bukutamu/home-bt.webp"
            style="
              display: block;
              max-width: 100%;
              width: initial;
              height: initial;
              background: none;
              opacity: 1;
              border: 0px;
              margin: 0px;
              padding: 0px;
            " /></span
        ><img
          alt="Website screenshot (Landing Page)"
          src="../../../../assets/img/compressed/bukutamu/home-bt.webp"
          data-nimg="intrinsic"
          class="project-content-image"
          style="
            position: absolute;
            inset: 0px;
            box-sizing: border-box;
            padding: 0px;
            border: none;
            margin: auto;
            display: block;
            width: 0px;
            height: 0px;
            min-width: 100%;
            max-width: 100%;
            min-height: 100%;
            max-height: 100%;
            object-fit: cover;
          "
      /></span>
    </div>
    <h6>Login Page</h6>
    <div class="project-content-wrapper">
      <span
        style="
          box-sizing: border-box;
          display: inline-block;
          overflow: hidden;
          width: initial;
          height: initial;
          background: none;
          opacity: 1;
          border: 0px;
          margin: 0px;
          padding: 0px;
          position: relative;
          max-width: 100%;
        "
        ><span
          style="
            box-sizing: border-box;
            display: block;
            width: initial;
            height: initial;
            background: none;
            opacity: 1;
            border: 0px;
            margin: 0px;
            padding: 0px;
            max-width: 100%;
          "
          ><img
            alt=""
            aria-hidden="true"
            src="../../../../assets/img/compressed/bukutamu/login-bt.webp"
            style="
              display: block;
              max-width: 100%;
              width: initial;
              height: initial;
              background: none;
              opacity: 1;
              border: 0px;
              margin: 0px;
              padding: 0px;
            " /></span
        ><img
          alt="Website screenshot (Login Page)"
          src="../../../../assets/img/compressed/bukutamu/login-bt.webp"
          data-nimg="intrinsic"
          class="project-content-image"
          style="
            position: absolute;
            inset: 0px;
            box-sizing: border-box;
            padding: 0px;
            border: none;
            margin: auto;
            display: block;
            width: 0px;
            height: 0px;
            min-width: 100%;
            max-width: 100%;
            min-height: 100%;
            max-height: 100%;
            object-fit: cover;
          "
      /></span>
    </div>
    <h6>Form Page</h6>
    <div class="project-content-wrapper">
      <span
        style="
          box-sizing: border-box;
          display: inline-block;
          overflow: hidden;
          width: initial;
          height: initial;
          background: none;
          opacity: 1;
          border: 0px;
          margin: 0px;
          padding: 0px;
          position: relative;
          max-width: 100%;
        "
        ><span
          style="
            box-sizing: border-box;
            display: block;
            width: initial;
            height: initial;
            background: none;
            opacity: 1;
            border: 0px;
            margin: 0px;
            padding: 0px;
            max-width: 100%;
          "
          ><img
            alt=""
            aria-hidden="true"
            src="../../../../assets/img/compressed/bukutamu/form-bt.webp"
            style="
              display: block;
              max-width: 100%;
              width: initial;
              height: initial;
              background: none;
              opacity: 1;
              border: 0px;
              margin: 0px;
              padding: 0px;
            " /></span
        ><img
          alt="Website screenshot (Form page)"
          src="../../../../assets/img/compressed/bukutamu/form-bt.webp"
          data-nimg="intrinsic"
          class="project-content-image"
          style="
            position: absolute;
            inset: 0px;
            box-sizing: border-box;
            padding: 0px;
            border: none;
            margin: auto;
            display: block;
            width: 0px;
            height: 0px;
            min-width: 100%;
            max-width: 100%;
            min-height: 100%;
            max-height: 100%;
            object-fit: cover;
          "
      /></span>
    </div>
    <h6>Selfie Page</h6>
    <div class="project-content-wrapper">
      <span
        style="
          box-sizing: border-box;
          display: inline-block;
          overflow: hidden;
          width: initial;
          height: initial;
          background: none;
          opacity: 1;
          border: 0px;
          margin: 0px;
          padding: 0px;
          position: relative;
          max-width: 100%;
        "
        ><span
          style="
            box-sizing: border-box;
            display: block;
            width: initial;
            height: initial;
            background: none;
            opacity: 1;
            border: 0px;
            margin: 0px;
            padding: 0px;
            max-width: 100%;
          "
          ><img
            alt=""
            aria-hidden="true"
            src="../../../../assets/img/compressed/bukutamu/selfie-bt.webp"
            style="
              display: block;
              max-width: 100%;
              width: initial;
              height: initial;
              background: none;
              opacity: 1;
              border: 0px;
              margin: 0px;
              padding: 0px;
            " /></span
        ><img
          alt="Website screenshot (Selfie page)"
          src="../../../../assets/img/compressed/bukutamu/selfie-bt.webp"
          data-nimg="intrinsic"
          class="project-content-image"
          style="
            position: absolute;
            inset: 0px;
            box-sizing: border-box;
            padding: 0px;
            border: none;
            margin: auto;
            display: block;
            width: 0px;
            height: 0px;
            min-width: 100%;
            max-width: 100%;
            min-height: 100%;
            max-height: 100%;
            object-fit: cover;
          "
      /></span>
    </div>
    <h6>Signature Page</h6>
    <div class="project-content-wrapper">
      <span
        style="
          box-sizing: border-box;
          display: inline-block;
          overflow: hidden;
          width: initial;
          height: initial;
          background: none;
          opacity: 1;
          border: 0px;
          margin: 0px;
          padding: 0px;
          position: relative;
          max-width: 100%;
        "
        ><span
          style="
            box-sizing: border-box;
            display: block;
            width: initial;
            height: initial;
            background: none;
            opacity: 1;
            border: 0px;
            margin: 0px;
            padding: 0px;
            max-width: 100%;
          "
          ><img
            alt=""
            aria-hidden="true"
            src="../../../../assets/img/compressed/bukutamu/ttd-bt.webp"
            style="
              display: block;
              max-width: 100%;
              width: initial;
              height: initial;
              background: none;
              opacity: 1;
              border: 0px;
              margin: 0px;
              padding: 0px;
            " /></span
        ><img
          alt="Website screenshot (Signature Page)"
          src="../../../../assets/img/compressed/bukutamu/ttd-bt.webp"
          data-nimg="intrinsic"
          class="project-content-image"
          style="
            position: absolute;
            inset: 0px;
            box-sizing: border-box;
            padding: 0px;
            border: none;
            margin: auto;
            display: block;
            width: 0px;
            height: 0px;
            min-width: 100%;
            max-width: 100%;
            min-height: 100%;
            max-height: 100%;
            object-fit: cover;
          "
      /></span>
    </div>
    <h6>Verify Page</h6>
    <div class="project-content-wrapper">
      <span
        style="
          box-sizing: border-box;
          display: inline-block;
          overflow: hidden;
          width: initial;
          height: initial;
          background: none;
          opacity: 1;
          border: 0px;
          margin: 0px;
          padding: 0px;
          position: relative;
          max-width: 100%;
        "
        ><span
          style="
            box-sizing: border-box;
            display: block;
            width: initial;
            height: initial;
            background: none;
            opacity: 1;
            border: 0px;
            margin: 0px;
            padding: 0px;
            max-width: 100%;
          "
          ><img
            alt=""
            aria-hidden="true"
            src="../../../../assets/img/compressed/bukutamu/verify-bt.webp"
            style="
              display: block;
              max-width: 100%;
              width: initial;
              height: initial;
              background: none;
              opacity: 1;
              border: 0px;
              margin: 0px;
              padding: 0px;
            " /></span
        ><img
          alt="Website screenshot (Verify Page)"
          src="../../../../assets/img/compressed/bukutamu/verify-bt.webp"
          data-nimg="intrinsic"
          class="project-content-image"
          style="
            position: absolute;
            inset: 0px;
            box-sizing: border-box;
            padding: 0px;
            border: none;
            margin: auto;
            display: block;
            width: 0px;
            height: 0px;
            min-width: 100%;
            max-width: 100%;
            min-height: 100%;
            max-height: 100%;
            object-fit: cover;
          "
      /></span>
    </div>
    <h6>Table Page</h6>
    <div class="project-content-wrapper">
      <span
        style="
          box-sizing: border-box;
          display: inline-block;
          overflow: hidden;
          width: initial;
          height: initial;
          background: none;
          opacity: 1;
          border: 0px;
          margin: 0px;
          padding: 0px;
          position: relative;
          max-width: 100%;
        "
        ><span
          style="
            box-sizing: border-box;
            display: block;
            width: initial;
            height: initial;
            background: none;
            opacity: 1;
            border: 0px;
            margin: 0px;
            padding: 0px;
            max-width: 100%;
          "
          ><img
            alt=""
            aria-hidden="true"
            src="../../../../assets/img/compressed/bukutamu/table-bt.webp"
            style="
              display: block;
              max-width: 100%;
              width: initial;
              height: initial;
              background: none;
              opacity: 1;
              border: 0px;
              margin: 0px;
              padding: 0px;
            " /></span
        ><img
          alt="Website screenshot (Table Page)"
          src="../../../../assets/img/compressed/bukutamu/table-bt.webp"
          data-nimg="intrinsic"
          class="project-content-image"
          style="
            position: absolute;
            inset: 0px;
            box-sizing: border-box;
            padding: 0px;
            border: none;
            margin: auto;
            display: block;
            width: 0px;
            height: 0px;
            min-width: 100%;
            max-width: 100%;
            min-height: 100%;
            max-height: 100%;
            object-fit: cover;
          "
      /></span>
    </div>
    <h6>Detail Item Page</h6>
    <div class="project-content-wrapper">
      <span
        style="
          box-sizing: border-box;
          display: inline-block;
          overflow: hidden;
          width: initial;
          height: initial;
          background: none;
          opacity: 1;
          border: 0px;
          margin: 0px;
          padding: 0px;
          position: relative;
          max-width: 100%;
        "
        ><span
          style="
            box-sizing: border-box;
            display: block;
            width: initial;
            height: initial;
            background: none;
            opacity: 1;
            border: 0px;
            margin: 0px;
            padding: 0px;
            max-width: 100%;
          "
          ><img
            alt=""
            aria-hidden="true"
            src="../../../../assets/img/compressed/bukutamu/detail-bt.webp"
            style="
              display: block;
              max-width: 100%;
              width: initial;
              height: initial;
              background: none;
              opacity: 1;
              border: 0px;
              margin: 0px;
              padding: 0px;
            " /></span
        ><img
          alt="Website screenshot (Detail Item Page)"
          src="../../../../assets/img/compressed/bukutamu/detail-bt.webp"
          data-nimg="intrinsic"
          class="project-content-image"
          style="
            position: absolute;
            inset: 0px;
            box-sizing: border-box;
            padding: 0px;
            border: none;
            margin: auto;
            display: block;
            width: 0px;
            height: 0px;
            min-width: 100%;
            max-width: 100%;
            min-height: 100%;
            max-height: 100%;
            object-fit: cover;
          "
      /></span>
    </div>
  </div>
  <div>
    <div class="next-project">
      <hr />
      <a [routerLink]="['/project/skyisland']"
        ><div class="next-project-wrapper">
          <div class="next-project-left">
            <div class="next-project-selected-wrapper">
              <h4 class="next-project-selected">→</h4>
            </div>
            <h4 class="next-project-title">Next project</h4>
          </div>
          <div class="next-project-right">
            <h4>Sky Island</h4>
            <p>3D Environment</p>
          </div>
        </div></a
      >
    </div>
  </div>
</div>
