<section class="about" id="about">
  <a href="./main">
    <div class="arrow arrow-back" style="z-index: 2"></div>
  </a>
  <a href="./development">
    <div class="arrow arrow-next" style="z-index: 2"></div>
  </a>
  <div class="left-header">
    <p class="heading-number">01</p>
  </div>

  <div class="about-container">
    <div class="about-wrap">
      <div class="section-title">
        <p id="about-me">ABOUT ME</p>
      </div>
      <div class="about-content">
        <div class="about-name">
          <p>BIO</p>
        </div>
        <div class="about-text">
          <p>
            Halo Semua ! <br />
            Namaku Adry Mirza Savaras, Aku Lahir di Batam tahun 2004 <br />
            Aku adalah pelajar dari salah satu Sekolah Menengah Kejuruan di
            Batam.
            <br />
            <br />
            Hobiku didunia komputer sudah kutekuni dari saat kecil <br />
            Aku sangat antusias untuk mencari tahu dan mempelajari teknologi -
            teknologi baru.
          </p>
        </div>
      </div>
    </div>
    <div class="edu-wrap">
      <div class="right-header">
        <p class="heading-number">02</p>
      </div>
      <div class="section-title ml-0">
        <p id="education">EDUCATION</p>
      </div>
      <div class="school-wrap">
        <div class="school-set">
          <mat-card class="detail-card" id="card-1">
            <div class="school-set_detail">
              <div class="school-set_meta">
                <div class="school-set_title">
                  <h3 class="title-name">SMKN 7 BATAM</h3>
                  <p class="small-title">3 YEARS</p>
                </div>
                <p style="font-size: 0.7rem" class="subject-value">
                  ON PROGRESS
                </p>
              </div>
              <mat-progress-bar class="linear-progress" mode="indeterminate">
              </mat-progress-bar>
            </div>
          </mat-card>
          <mat-card class="img-card" id="card-2">
            <div
              class="school-set_icon skaju"
              style="
                background-image: url(../../../assets/images/logo-skaju.png);
              "
            ></div>
          </mat-card>
        </div>
        <div class="school-set">
          <mat-card class="img-card" id="card-3">
            <div
              class="school-set_icon"
              style="
                background-image: url(../../../assets/images/logo-dubel.PNG);
              "
            ></div>
          </mat-card>
          <mat-card class="detail-card" id="card-4">
            <div class="school-set_detail">
              <div class="school-set_meta">
                <div class="school-set_title">
                  <h3 class="title-name">SMPN 12 BATAM</h3>
                  <p class="small-title">3 YEARS</p>
                </div>
                <p class="subject-value">97.3</p>
              </div>
              <mat-progress-bar
                class="linear-progress"
                mode="determinate"
                value="97"
              >
              </mat-progress-bar>
            </div>
          </mat-card>
        </div>
        <div class="school-set">
          <mat-card class="detail-card" id="card-5">
            <div class="school-set_detail">
              <div class="school-set_meta">
                <div class="school-set_title">
                  <h3 class="title-name">SDS CENDANA</h3>
                  <p class="small-title">6 YEARS</p>
                </div>
                <p class="subject-value">93.3</p>
              </div>
              <mat-progress-bar
                class="linear-progress"
                mode="determinate"
                value="93"
              >
              </mat-progress-bar>
            </div>
          </mat-card>
          <mat-card class="img-card" id="card-6">
            <div
              class="school-set_icon"
              style="
                background-image: url(../../../assets/images/logo-cendana.PNG);
              "
            ></div>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</section>
