.about {
  width: 100%;
  height: 93vh;
}

.about-container {
  width: 80%;
  height: 80vh;
  margin-left: 10%;
  display: flex;

  .about-wrap {
    width: 50%;
    display: flex;
    justify-content: center;

    .about-name {
      padding-top: 25%;
      p {
        font-size: 20px;
        font-family: "futura_de";
        color: #072142;
      }
    }
    .about-text {
      padding-top: 7%;
      padding-left: 3%;
      p {
        font-size: 22px;
        color: rgba(0, 0, 0, 0.863);
        font-family: "futura_r";
        line-height: 2;
      }
    }
  }

  .edu-wrap {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
  }

  .school-wrap {
    width: 75%;
    height: 70%;
    display: grid;
    margin-top: 8em;
  }

  mat-card {
    margin-bottom: 3%;
  }

  .img-card {
    width: 60px;
    height: 60px;
  }

  .detail-card {
    width: 70%;
    margin-right: 2.5em;
  }

  .detail-card:nth-child(even) {
    margin-right: 0;
    margin-left: 2.5em;
  }

  .school-set {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .school-set_icon {
      margin-top: -17.5px;
      margin-left: -18px;
      width: 95px;
      height: 95px;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }

    .skaju {
      margin-top: -17.5px;
      margin-left: -5px;
      width: 70px;
      height: 95px;
    }

    .school-set_detail {
      width: 100%;
      .school-set_meta {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .school-set_title {
          align-items: center;
          display: flex;
          .title-name {
            font-size: 1.3rem;
            color: #072142;
            letter-spacing: 0.2em;
            line-height: 1.2;
            font-family: "futura_de";
          }
          .small-title {
            font-size: 0.8rem;
            line-height: 1.2;
            color: #a0a0a0;
            margin-left: 0.4rem;
            letter-spacing: 0.2em;
          }
        }
      }
      .subject-value {
        color: #ff4d5a;
        font-size: 1.1rem;
        font-weight: 700;
        line-height: 1.2;
        letter-spacing: 0.2em;
      }
    }
    .linear-progress {
      margin-top: 0.9em;
    }
  }
}

@media screen and (max-width: 1366px) {
  .about-name {
    padding-top: 15% !important;
  }

  .about-text {
    padding-left: 2% !important;
    p {
      line-height: 40px !important;
    }
  }

  .title-name {
    font-size: 1em !important;
  }

  .school-wrap {
    width: 90% !important;
  }
}

@media screen and (max-width: 500px) {
  .right-header {
    .heading-number {
      padding-top: 2.8rem;
      padding-right: 5.2rem;
    }
  }

  .about-container {
    width: 90% !important;
    display: grid;
    margin-left: 5% !important;
  }

  .about-wrap,
  .edu-wrap {
    width: 100% !important;
  }

  .section-title {
    font-size: 0.7em;
    margin-top: 1.2em !important;
    margin-left: 13em;
  }

  .ml-0 {
    margin-top: 5.5em !important;
    margin-left: 0 !important;
    margin-right: 35% !important;
  }

  .detail-card {
    margin-right: 0 !important;
  }

  .detail-card:nth-child(even) {
    margin-right: 0 !important;
    margin-left: 0 !important;
  }

  .school-wrap {
    width: 100% !important;
    margin-top: 5rem !important;
  }

  .school-set {
    margin-top: 70px !important;
  }
}

@media screen and (max-width: 375px) {
  .about-container {
    margin-left: 2.5% !important;
  }

  .about-text {
    p {
      font-size: 19px !important;
    }
  }

  .about-wrap {
    width: 90% !important;
  }

  .section-title {
    margin-top: 2em !important;
    font-size: 0.6em !important;
  }

  .ml-0 {
    margin-top: 6.5em !important;
    margin-right: 40% !important;
  }
}
