.about {
  display: flex;
  flex-direction: row-reverse;
}
@media (max-width: 47.99em) {
  .about {
    flex-direction: column;
    margin: var(--top-margin) 0 0;
  }
}
@media (max-width: 61.99em) and (orientation: portrait) {
  .about {
    flex-direction: column;
    margin: var(--top-margin) 0 0;
  }
}
.about-left {
  width: 75%;
  padding: var(--top-margin) var(--left-right-internal-margin)
    var(--top-internal-margin) var(--left-right-margin);
}
@media (max-width: 74.99em) {
  .about-left {
    width: 50%;
  }
}
@media (max-width: 47.99em) {
  .about-left {
    width: 100%;
    padding: var(--top-internal-margin) var(--left-right-margin)
      var(--top-internal-margin);
  }
}
@media (max-width: 61.99em) and (orientation: portrait) {
  .about-left {
    width: 100%;
    padding: var(--top-internal-margin) var(--left-right-margin)
      var(--top-internal-margin);
  }
}
.about-left .presentation-text {
  margin-top: var(--top-internal-margin);
  width: 75%;
}
@media (max-width: 74.99em) {
  .about-left .presentation-text {
    width: 100%;
  }
}
.about-left .resume-link {
  margin-top: var(--top-internal-margin);
}
.about-right {
  padding-left: var(--left-right-internal-margin);
  width: 25%;
  position: relative;
}
@media (max-width: 74.99em) {
  .about-right {
    width: 50%;
  }
}
@media (max-width: 47.99em) {
  .about-right {
    width: 100%;
    padding: 0 var(--left-right-margin);
    border-radius: var(--border-radius);
  }
}
@media (max-width: 61.99em) and (orientation: portrait) {
  .about-right {
    width: 100%;
    padding: 0 var(--left-right-margin);
    border-radius: var(--border-radius);
  }
}
.about-right .profile-pic-wrapper {
  position: relative;
  padding-top: 177.7777777778%;
  border-radius: 0 0 0 var(--border-radius);
}

.profile-pic-wrapper span {
  box-sizing: border-box;
  display: block;
  overflow: hidden;
  width: initial;
  height: initial;
  position: absolute;
  inset: 0px;
}

@media (max-width: 74.99em) {
  .about-right .profile-pic-wrapper {
    padding-top: 133.3333333333%;
  }
}
@media (max-width: 47.99em) {
  .about-right .profile-pic-wrapper {
    border-radius: var(--border-radius);
    padding-top: 0;
    height: calc((100vw - 2 * var(--left-right-margin)) * 1.3333333333);
  }
}
@media (max-width: 61.99em) and (orientation: portrait) {
  .about-right .profile-pic-wrapper {
    border-radius: var(--border-radius);
    padding-top: 0;
    height: calc((100vw - 2 * var(--left-right-margin)) * 1.3333333333);
  }
}
.about-right .profile-pic-wrapper .profile-pic {
  border-radius: 0 0 0 var(--border-radius);
  background-color: #606887;
  width: 110%;
  height: 100%;
  object-fit: cover;
  object-position: 140% 25%;
}
@media (max-width: 47.99em) {
  .about-right .profile-pic-wrapper .profile-pic {
    border-radius: var(--border-radius);
  }
}
@media (max-width: 61.99em) and (orientation: portrait) {
  .about-right .profile-pic-wrapper .profile-pic {
    border-radius: var(--border-radius);
    width: 100%;
    height: 100%;
  }
}
