<div class="page-content" style="pointer-events: auto">
  <div class="about">
    <div class="about-right animateMe">
      <div class="profile-pic-wrapper" style="opacity: 1; transform: none">
        <span
          style="
            box-sizing: border-box;
            display: block;
            overflow: hidden;
            width: initial;
            height: initial;
            background: none;
            opacity: 1;
            border: 0px;
            margin: 0px;
            padding: 0px;
            position: absolute;
            inset: 0px;
          "
          ><img
            alt="¨Portrait of Mirza"
            sizes="100vw"
            src="../../../assets/img/selfie.jpg"
            data-nimg="fill"
            class="profile-pic"
            style="
              position: absolute;
              inset: 0px;
              box-sizing: border-box;
              padding: 0px;
              border: none;
              margin: auto;
              display: block;
              width: 0px;
              height: 0px;
              min-width: 100%;
              max-width: 100%;
              min-height: 100%;
              max-height: 100%;
              object-fit: cover;
              object-position: 50% 25%;
            "
        /></span>
      </div>
    </div>
    <div class="about-left">
      <div class="animateMe" id="about">
        <div>
          <div class="page-head"><h2 class="page-title">About</h2></div>
          <hr class="head-separator" />
        </div>
      </div>
      <p
        class="presentation-text animateMe"
        style="opacity: 1; transform: none"
      >
        Hey, my name is Adry Mirza Savaras and everyone usually call me Adry.
        I’m a software engineer student &amp; junior web developer from
        Indonesia. I’m a tech enthusiast that always curious to learn more about
        new technology especially when it comes to 'Computer parts'. I’m also
        passionate about design and make some creative things.
      </p>
      <div class="resume-link animateMe" style="opacity: 1; transform: none">
        <div class="link-wrapper">
          <div class="link">
            <a [routerLink]="['/projects']">→ My Projects</a>
          </div>
          <div class="link-underline"></div>
        </div>
      </div>
    </div>
  </div>
</div>
