<div class="page-content" style="pointer-events: auto">
  <div class="about">
    <div class="about-right animateMe">
      <div class="profile-pic-wrapper">
        <span
          ><img
            alt="¨Portrait of Me"
            src="../../../assets/img/mehh.webp"
            class="profile-pic"
        /></span>
      </div>
    </div>
    <div class="about-left">
      <div class="animateMe" id="about">
        <div>
          <div class="page-head"><h2 class="page-title">About</h2></div>
          <hr class="head-separator" />
        </div>
      </div>
      <p class="presentation-text animateMe">
        Hi there! My name is <b>Adry Mirza</b>, usually known as <b>Adry</b>.
        Born and live in <b>Batam, Indonesia</b>.
        <br />
        I’m an Apple Developer Academy Student Cohort 2023 also an information
        system student. <br />
        I’m a tech enthusiast that always curious to learn more about new
        technology. I have passion on web development also love to design and
        make some creative things.
      </p>
      <div class="resume-link animateMe">
        <div class="link-wrapper">
          <div class="link">
            <a [routerLink]="['/projects']">→ My Works &amp; Projects</a>
          </div>
          <div class="link-underline"></div>
        </div>
      </div>
    </div>
  </div>
</div>
