<section class="collection" id="collection">
  <a href="./development">
    <div class="arrow arrow-back" style="z-index: 2"></div>
  </a>
  <a href="./contact">
    <div class="arrow arrow-next" style="z-index: 2"></div>
  </a>
  <div class="left-header">
    <p class="heading-number">04</p>
  </div>

  <div class="collection-container">
    <div class="photograph-wrap">
      <div class="section-title">
        <p id="photos">PHOTOGRAPHY</p>
      </div>

      <div class="photograph-content" id="photo-container">
        <div class="photo-container">
          <div class="photo-wrap wrap-effect-1 mat-elevation-z8">
            <div
              class="photo"
              style="
                background-image: url(../../../assets/images/photography/ocarina_r.jpg);
              "
            ></div>
            <div
              class="photo"
              style="
                background-image: url(../../../assets/images/photography/orchard_1r.jpg);
              "
            ></div>
            <div
              class="photo"
              style="
                background-image: url(../../../assets/images/photography/beach_r.jpg);
              "
            ></div>
            <div
              class="photo"
              style="
                background-image: url(../../../assets/images/photography/orchard_2r.jpg);
              "
            ></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
