.landing {
  margin-top: 0;
  padding-top: 0;
  background-color: #534d69;
}

.none {
  display: none;
}

.bg-split {
  float: right;
  background-color: rgb(38, 32, 44);
  width: 69%;
  height: 100vh;
}

.img-star {
  width: 80%;
  height: 100vh;
  position: absolute;
  left: 10%;
  background-image: url(../../../assets/images/star.svg);
  background-size: cover;
}

.img-container {
  position: absolute;
  top: 13%;
  left: 7%;
  background-image: url(../../../assets/images/3d1x.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 56.5%;
  height: 74.81%;
  box-shadow: 0px 80px 140px -40px rgba(0, 0, 0, 0.6);
  animation-name: loadImage;
  animation-duration: 1.5s;
  animation-delay: 0.2s;
  animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);

  .img-cover {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: scale(0) translateX(110%) translateZ(0px);
    background-color: rgb(38, 32, 44);
    animation-name: openCover;
    animation-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53);
    animation-duration: 0.8s;
  }
}

.text-content {
  position: absolute;
  top: 29%;
  right: 6.5%;
  h1 {
    font-family: "futura_m";
    font-size: 6.8em;
    letter-spacing: 0.15em;
    line-height: 140px;
    color: #fff;
    text-shadow: 0px 14px 7px rgba(0, 0, 0, 0.25);
  }
}

.more-content {
  position: absolute;
  top: 63%;
  right: 22%;
  color: #fff;

  h3 {
    font-size: 22px;
    letter-spacing: 0.215rem;
  }

  a {
    text-decoration: none;
    color: #fff;
  }
  .btn {
    display: inline-block;
    font-family: "futura_de";
    font-size: 1.3rem;
    color: #fff;
    border: 1px solid #fff;
    line-height: 1;
    font-weight: bold;
    padding: 18px 32px;
    border-radius: 50px;
    letter-spacing: 0.1em;
  }
  .btn:hover {
    background: linear-gradient(217.47deg, #516099 -5.85%, #c5a0d0 93.6%);
  }
}

@media screen and (max-width: 1366px) {
  .text-content {
    top: 30%;

    h1 {
      line-height: 100px;
      font-size: 4.8em;
    }
  }

  .more-content {
    right: 19% !important;
  }

  .btn {
    font-size: 1em !important;
  }
}

@media screen and (max-width: 500px) {
  .img-container {
    width: 80%;
    height: 55.633%;
  }

  .text-content {
    top: 66%;
    left: 6.5%;
    h1 {
      line-height: 40px;
      font-size: 2.5rem;
    }
  }

  .more-content {
    width: 140px !important;
    top: 82% !important;
    left: 30% !important;
    right: 0 !important;

    .btn {
      font-size: 0.8em !important;
      padding: 14px 28px !important;
    }
  }
}

@keyframes openCover {
  0% {
    transform: scale(1) translateX(0%) translateZ(0px);
  }
  99% {
    transform: scale(1) translateX(110%) translateZ(0px);
  }
}

@keyframes loadImage {
  0% {
    transform: scale(0.85) translateX(10%) translateZ(0px);
  }
  100% {
    transform: scale(1) translateX(0%) translateZ(0px);
  }
}
