<div class="home">
  <div class="intro-wrapper" id="wrap">
    <div class="intro-text">
      <h3 class="intro-id animateMe" id="intro">
        <img src="../assets/img/hand.svg" alt="" width="30" />
        HEY THERE, I’M
        <div class="name">
          ADRY MIRZA S.
          <div class="wave-wrapper">
            <div class="wave" id="wave"></div>
          </div>
        </div>
      </h3>
      <h3 class="intro-id animateMe" id="intro">
        BUT YOU CAN CALL ME
        <div class="name">
          ADRY
          <div class="wave-wrapper">
            <div class="wave"></div>
          </div>
        </div>
      </h3>
      <div class="intro-roles">
        <p class="intro-role animateMe" id="intro">
          I’m a software engineer student
        </p>
        <p class="intro-role animateMe" id="intro">& junior web developer</p>
      </div>
      <div class="intro-links">
        <ul>
          <li>
            <div class="link-wrapper animateMe">
              <div class="link">
                <a [routerLink]="['/about']">→ about meh</a>
              </div>
              <div class="link-underline"></div>
            </div>
          </li>
          <li>
            <div class="link-wrapper animateMe">
              <div class="link">
                <a [routerLink]="['/projects']">→ see my projects</a>
              </div>
              <div class="link-underline"></div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
