<div class="project">
  <div class="header-project" style="opacity: 1; transform: none">
    <div class="hero-image-wrapper">
      <span
        style="
          box-sizing: border-box;
          display: block;
          overflow: hidden;
          width: initial;
          height: initial;
          background: none;
          opacity: 1;
          border: 0px;
          margin: 0px;
          padding: 0px;
          position: absolute;
          inset: 0px;
        "
        ><img
          alt="Cover of the project Fascinating Rain"
          sizes="100vw"
          src="../../../../assets/img/fascinating rain.jpg"
          data-nimg="fill"
          class="hero-image"
          style="
            position: absolute;
            inset: 0px;
            box-sizing: border-box;
            padding: 0px;
            border: none;
            margin: auto;
            display: block;
            width: 0px;
            height: 0px;
            min-width: 100%;
            max-width: 100%;
            min-height: 100%;
            max-height: 100%;
            object-fit: cover;
            object-position: 50% 50%;
          "
      /></span>
    </div>
  </div>
  <div class="project-title" style="opacity: 1; transform: none">
    <div>
      <div class="page-head">
        <h2 class="page-title">Fascinating Rain</h2>
      </div>
      <hr class="head-separator" />
    </div>
  </div>
  <div class="project-intro">
    <div class="project-data" style="opacity: 1; transform: none">
      <table>
        <tbody>
          <tr>
            <td><h6>Category</h6></td>
            <td>
              <ul>
                <li>Graphic Design</li>
                <li>Portrait</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td><h6>Year</h6></td>
            <td><p>2022</p></td>
          </tr>
          <tr>
            <td><h6>Technology</h6></td>
            <td>
              <ul>
                <li>Adobe Illustrator</li>
                <li>Adobe Photoshop</li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="project-content" style="opacity: 1; transform: none">
    <h6>Potraits</h6>
    <div class="project-content-wrapper">
      <span
        style="
          box-sizing: border-box;
          display: inline-block;
          overflow: hidden;
          width: initial;
          height: initial;
          background: none;
          opacity: 1;
          border: 0px;
          margin: 0px;
          padding: 0px;
          position: relative;
          max-width: 100%;
        "
        ><span
          style="
            box-sizing: border-box;
            display: block;
            width: initial;
            height: initial;
            background: none;
            opacity: 1;
            border: 0px;
            margin: 0px;
            padding: 0px;
            max-width: 100%;
          "
          ><img
            alt=""
            aria-hidden="true"
            src="../../../../assets/img/fasc.svg"
            style="
              display: block;
              max-width: 100%;
              width: initial;
              height: initial;
              background: none;
              opacity: 1;
              border: 0px;
              margin: 0px;
              padding: 0px;
            " /></span
        ><img
          alt="Website screenshot (Homepage)"
          src="../../../../assets/img/fasc.svg"
          data-nimg="intrinsic"
          class="project-content-image"
          style="
            position: absolute;
            inset: 0px;
            box-sizing: border-box;
            padding: 0px;
            border: none;
            margin: auto;
            display: block;
            width: 0px;
            height: 0px;
            min-width: 100%;
            max-width: 100%;
            min-height: 100%;
            max-height: 100%;
            object-fit: cover;
          "
      /></span>
    </div>
  </div>
  <div>
    <div class="next-project">
      <hr />
      <a [routerLink]="['/project/oldportfolio']"
        ><div class="next-project-wrapper">
          <div class="next-project-left">
            <div class="next-project-selected-wrapper">
              <h4 class="next-project-selected">→</h4>
            </div>
            <h4 class="next-project-title">Next project</h4>
          </div>
          <div class="next-project-right">
            <h4>Old Portfolio Website</h4>
            <p>Branding</p>
          </div>
        </div></a
      >
    </div>
  </div>
</div>
