<div class="project">
  <div class="header-project" style="opacity: 1; transform: none">
    <div class="hero-image-wrapper">
      <span
        style="
          box-sizing: border-box;
          display: block;
          overflow: hidden;
          width: initial;
          height: initial;
          background: none;
          opacity: 1;
          border: 0px;
          margin: 0px;
          padding: 0px;
          position: absolute;
          inset: 0px;
        "
        ><img
          alt="Cover of the project Go - Listrik"
          sizes="100vw"
          src="../../../../assets/img/home-hero.jpg"
          data-nimg="fill"
          class="hero-image"
          style="
            position: absolute;
            inset: 0px;
            box-sizing: border-box;
            padding: 0px;
            border: none;
            margin: auto;
            display: block;
            width: 0px;
            height: 0px;
            min-width: 100%;
            max-width: 100%;
            min-height: 100%;
            max-height: 100%;
            object-fit: cover;
            object-position: 50% 50%;
          "
      /></span>
    </div>
  </div>
  <div class="project-title" style="opacity: 1; transform: none">
    <div>
      <div class="page-head">
        <h2 class="page-title">Go-Listrik Website</h2>
      </div>
      <hr class="head-separator" />
    </div>
  </div>
  <div class="project-intro">
    <div class="project-data" style="opacity: 1; transform: none">
      <table>
        <tbody>
          <tr>
            <td><h6>Category</h6></td>
            <td>
              <ul>
                <li>Web Development</li>
                <li>SEO Optimization</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td><h6>Year</h6></td>
            <td><p>2022</p></td>
          </tr>
          <tr>
            <td><h6>Client</h6></td>
            <td><p>Go-Listrik</p></td>
          </tr>
          <tr>
            <td><h6>Technology</h6></td>
            <td><p>Wordpress</p></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="project-description" style="opacity: 1; transform: none">
      <p>
        Go-Listrik adalah penyedia jasa tukang listrik panggilan area JADETABEK
        siap 7 hari 24 jam nonstop. Kami menyediakan Website Company Profile
        untuk Go-Listrik yang dibuat dengan teknologi Wordpress dan
        mengoptimisasi SEO di pencarian Google
      </p>
      <div class="project-website">
        <div class="link-wrapper">
          <div class="link">
            <a href="https://www.golistrik.com" target="_blank" rel="noreferrer"
              >↗ View the website</a
            >
          </div>
          <div class="link-underline"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="project-content" style="opacity: 1; transform: none">
    <h6>Homepage</h6>
    <div class="project-content-wrapper">
      <span
        style="
          box-sizing: border-box;
          display: inline-block;
          overflow: hidden;
          width: initial;
          height: initial;
          background: none;
          opacity: 1;
          border: 0px;
          margin: 0px;
          padding: 0px;
          position: relative;
          max-width: 100%;
        "
        ><span
          style="
            box-sizing: border-box;
            display: block;
            width: initial;
            height: initial;
            background: none;
            opacity: 1;
            border: 0px;
            margin: 0px;
            padding: 0px;
            max-width: 100%;
          "
          ><img
            alt=""
            aria-hidden="true"
            src="../../../../assets/img/compressed/golistrik/fs-golistrik.webp"
            style="
              display: block;
              max-width: 100%;
              width: initial;
              height: initial;
              background: none;
              opacity: 1;
              border: 0px;
              margin: 0px;
              padding: 0px;
            " /></span
        ><img
          alt="Website screenshot (Homepage)"
          src="../../../../assets/img/compressed/golistrik/fs-golistrik.webp"
          data-nimg="intrinsic"
          class="project-content-image"
          style="
            position: absolute;
            inset: 0px;
            box-sizing: border-box;
            padding: 0px;
            border: none;
            margin: auto;
            display: block;
            width: 0px;
            height: 0px;
            min-width: 100%;
            max-width: 100%;
            min-height: 100%;
            max-height: 100%;
            object-fit: cover;
          "
      /></span>
    </div>
    <h6>Services page</h6>
    <div class="project-content-wrapper">
      <span
        style="
          box-sizing: border-box;
          display: inline-block;
          overflow: hidden;
          width: initial;
          height: initial;
          background: none;
          opacity: 1;
          border: 0px;
          margin: 0px;
          padding: 0px;
          position: relative;
          max-width: 100%;
        "
        ><span
          style="
            box-sizing: border-box;
            display: block;
            width: initial;
            height: initial;
            background: none;
            opacity: 1;
            border: 0px;
            margin: 0px;
            padding: 0px;
            max-width: 100%;
          "
          ><img
            alt=""
            aria-hidden="true"
            src="../../../../assets/img/compressed/golistrik/cv-golistrik.webp"
            style="
              display: block;
              max-width: 100%;
              width: initial;
              height: initial;
              background: none;
              opacity: 1;
              border: 0px;
              margin: 0px;
              padding: 0px;
            " /></span
        ><img
          alt="Website screenshot (Services page)"
          src="../../../../assets/img/compressed/golistrik/cv-golistrik.webp"
          data-nimg="intrinsic"
          class="project-content-image"
          style="
            position: absolute;
            inset: 0px;
            box-sizing: border-box;
            padding: 0px;
            border: none;
            margin: auto;
            display: block;
            width: 0px;
            height: 0px;
            min-width: 100%;
            max-width: 100%;
            min-height: 100%;
            max-height: 100%;
            object-fit: cover;
          "
      /></span>
    </div>
    <h6>Coverage page</h6>
    <div class="project-content-wrapper">
      <span
        style="
          box-sizing: border-box;
          display: inline-block;
          overflow: hidden;
          width: initial;
          height: initial;
          background: none;
          opacity: 1;
          border: 0px;
          margin: 0px;
          padding: 0px;
          position: relative;
          max-width: 100%;
        "
        ><span
          style="
            box-sizing: border-box;
            display: block;
            width: initial;
            height: initial;
            background: none;
            opacity: 1;
            border: 0px;
            margin: 0px;
            padding: 0px;
            max-width: 100%;
          "
          ><img
            alt=""
            aria-hidden="true"
            src="../../../../assets/img/compressed/golistrik/sv-golistrik.webp"
            style="
              display: block;
              max-width: 100%;
              width: initial;
              height: initial;
              background: none;
              opacity: 1;
              border: 0px;
              margin: 0px;
              padding: 0px;
            " /></span
        ><img
          alt="Website screenshot (Coverage page)"
          src="../../../../assets/img/compressed/golistrik/sv-golistrik.webp"
          data-nimg="intrinsic"
          class="project-content-image"
          style="
            position: absolute;
            inset: 0px;
            box-sizing: border-box;
            padding: 0px;
            border: none;
            margin: auto;
            display: block;
            width: 0px;
            height: 0px;
            min-width: 100%;
            max-width: 100%;
            min-height: 100%;
            max-height: 100%;
            object-fit: cover;
          "
      /></span>
    </div>
    <h6>Contact block</h6>
    <div class="project-content-wrapper">
      <span
        style="
          box-sizing: border-box;
          display: inline-block;
          overflow: hidden;
          width: initial;
          height: initial;
          background: none;
          opacity: 1;
          border: 0px;
          margin: 0px;
          padding: 0px;
          position: relative;
          max-width: 100%;
        "
        ><span
          style="
            box-sizing: border-box;
            display: block;
            width: initial;
            height: initial;
            background: none;
            opacity: 1;
            border: 0px;
            margin: 0px;
            padding: 0px;
            max-width: 100%;
          "
          ><img
            alt=""
            aria-hidden="true"
            src="../../../../assets/img/compressed/golistrik/contact-golistrik.webp"
            style="
              display: block;
              max-width: 100%;
              width: initial;
              height: initial;
              background: none;
              opacity: 1;
              border: 0px;
              margin: 0px;
              padding: 0px;
            " /></span
        ><img
          alt="Website screenshot (Contact Block)"
          src="../../../../assets/img/compressed/golistrik/contact-golistrik.webp"
          data-nimg="intrinsic"
          class="project-content-image"
          style="
            position: absolute;
            inset: 0px;
            box-sizing: border-box;
            padding: 0px;
            border: none;
            margin: auto;
            display: block;
            width: 0px;
            height: 0px;
            min-width: 100%;
            max-width: 100%;
            min-height: 100%;
            max-height: 100%;
            object-fit: cover;
          "
      /></span>
    </div>
    <h6>Gallery Page</h6>
    <div class="project-content-wrapper">
      <span
        style="
          box-sizing: border-box;
          display: inline-block;
          overflow: hidden;
          width: initial;
          height: initial;
          background: none;
          opacity: 1;
          border: 0px;
          margin: 0px;
          padding: 0px;
          position: relative;
          max-width: 100%;
        "
        ><span
          style="
            box-sizing: border-box;
            display: block;
            width: initial;
            height: initial;
            background: none;
            opacity: 1;
            border: 0px;
            margin: 0px;
            padding: 0px;
            max-width: 100%;
          "
          ><img
            alt=""
            aria-hidden="true"
            src="../../../../assets/img/compressed/golistrik/gl-golistrik.webp"
            style="
              display: block;
              max-width: 100%;
              width: initial;
              height: initial;
              background: none;
              opacity: 1;
              border: 0px;
              margin: 0px;
              padding: 0px;
            " /></span
        ><img
          alt="Website screenshot (Galery Page)"
          src="../../../../assets/img/compressed/golistrik/gl-golistrik.webp"
          data-nimg="intrinsic"
          class="project-content-image"
          style="
            position: absolute;
            inset: 0px;
            box-sizing: border-box;
            padding: 0px;
            border: none;
            margin: auto;
            display: block;
            width: 0px;
            height: 0px;
            min-width: 100%;
            max-width: 100%;
            min-height: 100%;
            max-height: 100%;
            object-fit: cover;
          "
      /></span>
    </div>
  </div>
  <div>
    <div class="next-project">
      <hr />
      <a [routerLink]="['/project/bukutamu']"
        ><div class="next-project-wrapper">
          <div class="next-project-left">
            <div class="next-project-selected-wrapper">
              <h4 class="next-project-selected">→</h4>
            </div>
            <h4 class="next-project-title">Next project</h4>
          </div>
          <div class="next-project-right">
            <h4>Buku Tamu SMKN 7 Batam</h4>
            <p>Website Development</p>
          </div>
        </div></a
      >
    </div>
  </div>
</div>
