<div class="projects">
  <div class="projects-left">
    <div
      class="projects-left-inside"
      style="
        border-radius: 0px 48px 0px 0px;
        transition: 400ms cubic-bezier(0.4, 0.55, 0.265, 1);
      "
    >
      <div
        class="projects-image-wrapper"
        [ngStyle]="hover == 1 ? { opacity: '1' } : { opacity: '0' }"
        style="transition: 0.4s linear"
      >
        <div
          class="projects-image-scale"
          [ngStyle]="
            hover == 1 ? { transform: 'scale(1.02)' } : { transform: 'none' }
          "
          style="transition: 0.4s linear"
        >
          <span
            style="
              box-sizing: border-box;
              display: block;
              overflow: hidden;
              width: initial;
              height: initial;
              background: none;
              opacity: 1;
              border: 0px;
              margin: 0px;
              padding: 0px;
              position: absolute;
              inset: 0px;
            "
            ><img
              sizes="100vw"
              src="../../../assets/img/home-hero.jpg"
              data-nimg="fill"
              class="projects-image"
              style="
                position: absolute;
                inset: 0px;
                box-sizing: border-box;
                padding: 0px;
                border: none;
                margin: auto;
                display: block;
                width: 0px;
                height: 0px;
                min-width: 100%;
                max-width: 100%;
                min-height: 100%;
                max-height: 100%;
                object-fit: cover;
                object-position: 50% 31%;
                background-color: rgb(96, 104, 135);
              "
          /></span>
        </div>
      </div>
      <div
        class="projects-image-wrapper"
        [ngStyle]="hover == 2 ? { opacity: '1' } : { opacity: '0' }"
        style="transition: 0.4s linear"
      >
        <div
          class="projects-image-scale"
          [ngStyle]="
            hover == 2 ? { transform: 'scale(1.02)' } : { transform: 'none' }
          "
          style="transition: 0.4s linear"
        >
          <span
            style="
              box-sizing: border-box;
              display: block;
              overflow: hidden;
              width: initial;
              height: initial;
              background: none;
              opacity: 1;
              border: 0px;
              margin: 0px;
              padding: 0px;
              position: absolute;
              inset: 0px;
            "
            ><img
              sizes="100vw"
              src="../../../assets/img/compressed/bukutamu/home-bt.webp"
              data-nimg="fill"
              class="projects-image"
              style="
                position: absolute;
                inset: 0px;
                box-sizing: border-box;
                padding: 0px;
                border: none;
                margin: auto;
                display: block;
                width: 0px;
                height: 0px;
                min-width: 100%;
                max-width: 100%;
                min-height: 100%;
                max-height: 100%;
                object-fit: cover;
                object-position: 50% 50%;
                background-color: rgb(177, 56, 62);
              "
          /></span>
        </div>
      </div>
      <div
        class="projects-image-wrapper"
        [ngStyle]="hover == 4 ? { opacity: '1' } : { opacity: '0' }"
        style="transition: 0.4s linear"
      >
        <div
          class="projects-image-scale"
          [ngStyle]="
            hover == 4 ? { transform: 'scale(1.02)' } : { transform: 'none' }
          "
          style="transition: 0.4s linear"
        >
          <span
            style="
              box-sizing: border-box;
              display: block;
              overflow: hidden;
              width: initial;
              height: initial;
              background: none;
              opacity: 1;
              border: 0px;
              margin: 0px;
              padding: 0px;
              position: absolute;
              inset: 0px;
            "
            ><img
              sizes="100vw"
              src="../../../assets/img/fascinating rain.jpg"
              data-nimg="fill"
              class="projects-image"
              style="
                position: absolute;
                inset: 0px;
                box-sizing: border-box;
                padding: 0px;
                border: none;
                margin: auto;
                display: block;
                width: 0px;
                height: 0px;
                min-width: 100%;
                max-width: 100%;
                min-height: 100%;
                max-height: 100%;
                object-fit: cover;
                object-position: 50% 50%;
                background-color: rgb(103, 116, 255);
              "
          /></span>
        </div>
      </div>
      <div
        class="projects-image-wrapper"
        [ngStyle]="hover == 5 ? { opacity: '1' } : { opacity: '0' }"
        style="transition: 0.4s linear"
      >
        <div
          class="projects-image-scale"
          [ngStyle]="
            hover == 5 ? { transform: 'scale(1.02)' } : { transform: 'none' }
          "
          style="transition: 0.4s linear"
        >
          <span
            style="
              box-sizing: border-box;
              display: block;
              overflow: hidden;
              width: initial;
              height: initial;
              background: none;
              opacity: 1;
              border: 0px;
              margin: 0px;
              padding: 0px;
              position: absolute;
              inset: 0px;
            "
            ><img
              sizes="100vw"
              src="../../../assets/img/pabp-login.svg"
              data-nimg="fill"
              class="projects-image"
              style="
                position: absolute;
                inset: 0px;
                box-sizing: border-box;
                padding: 0px;
                border: none;
                margin: auto;
                display: block;
                width: 0px;
                height: 0px;
                min-width: 100%;
                max-width: 100%;
                min-height: 100%;
                max-height: 100%;
                object-fit: cover;
                object-position: 50% 50%;
                background-color: rgb(48, 149, 140);
              "
          /></span>
        </div>
      </div>
      <div
        class="projects-image-wrapper"
        [ngStyle]="hover == 8 ? { opacity: '1' } : { opacity: '0' }"
        style="transition: 0.4s linear"
      >
        <div
          class="projects-image-scale"
          [ngStyle]="
            hover == 8 ? { transform: 'scale(1.02)' } : { transform: 'none' }
          "
          style="transition: 0.4s linear"
        >
          <span
            style="
              box-sizing: border-box;
              display: block;
              overflow: hidden;
              width: initial;
              height: initial;
              background: none;
              opacity: 1;
              border: 0px;
              margin: 0px;
              padding: 0px;
              position: absolute;
              inset: 0px;
            "
            ><img
              sizes="100vw"
              src="../../../assets/img/ocarina_r.jpg"
              data-nimg="fill"
              class="projects-image"
              style="
                position: absolute;
                inset: 0px;
                box-sizing: border-box;
                padding: 0px;
                border: none;
                margin: auto;
                display: block;
                width: 0px;
                height: 0px;
                min-width: 100%;
                max-width: 100%;
                min-height: 100%;
                max-height: 100%;
                object-fit: cover;
                object-position: 50% 50%;
                background-color: rgb(70, 80, 156);
              "
          /></span>
        </div>
      </div>
      <div
        class="projects-image-wrapper"
        [ngStyle]="hover == 7 ? { opacity: '1' } : { opacity: '0' }"
        style="transition: 0.4s linear"
      >
        <div
          class="projects-image-scale"
          [ngStyle]="
            hover == 7 ? { transform: 'scale(1.02)' } : { transform: 'none' }
          "
          style="transition: 0.4s linear"
        >
          <span
            style="
              box-sizing: border-box;
              display: block;
              overflow: hidden;
              width: initial;
              height: initial;
              background: none;
              opacity: 1;
              border: 0px;
              margin: 0px;
              padding: 0px;
              position: absolute;
              inset: 0px;
            "
            ><img
              sizes="100vw"
              src="../../../assets/img/compressed/perpus/login-perpus.webp"
              data-nimg="fill"
              class="projects-image"
              style="
                position: absolute;
                inset: 0px;
                box-sizing: border-box;
                padding: 0px;
                border: none;
                margin: auto;
                display: block;
                width: 0px;
                height: 0px;
                min-width: 100%;
                max-width: 100%;
                min-height: 100%;
                max-height: 100%;
                object-fit: cover;
                object-position: 20% 31%;
                background-color: rgb(90, 107, 105);
              "
          /></span>
        </div>
      </div>
      <div
        class="projects-image-wrapper"
        [ngStyle]="hover == 6 ? { opacity: '1' } : { opacity: '0' }"
        style="transition: 0.4s linear"
      >
        <div
          class="projects-image-scale"
          [ngStyle]="
            hover == 6 ? { transform: 'scale(1.02)' } : { transform: 'none' }
          "
          style="transition: 0.4s linear"
        >
          <span
            style="
              box-sizing: border-box;
              display: block;
              overflow: hidden;
              width: initial;
              height: initial;
              background: none;
              opacity: 1;
              border: 0px;
              margin: 0px;
              padding: 0px;
              position: absolute;
              inset: 0px;
            "
            ><img
              sizes="100vw"
              src="../../../assets/img/3d1x.jpg"
              data-nimg="fill"
              class="projects-image"
              style="
                position: absolute;
                inset: 0px;
                box-sizing: border-box;
                padding: 0px;
                border: none;
                margin: auto;
                display: block;
                width: 0px;
                height: 0px;
                min-width: 100%;
                max-width: 100%;
                min-height: 100%;
                max-height: 100%;
                object-fit: cover;
                object-position: 50% 50%;
                background-color: rgb(100, 100, 100);
              "
          /></span>
        </div>
      </div>
      <div
        class="projects-image-wrapper"
        [ngStyle]="hover == 3 ? { opacity: '1' } : { opacity: '0' }"
        style="transition: 0.4s linear"
      >
        <div
          class="projects-image-scale"
          [ngStyle]="
            hover == 3 ? { transform: 'scale(1.02)' } : { transform: 'none' }
          "
          style="transition: 0.4s linear"
        >
          <span
            style="
              box-sizing: border-box;
              display: block;
              overflow: hidden;
              width: initial;
              height: initial;
              background: none;
              opacity: 1;
              border: 0px;
              margin: 0px;
              padding: 0px;
              position: absolute;
              inset: 0px;
            "
            ><img
              sizes="100vw"
              src="../../../assets/img/compressed/skyisland/sky_island.0052.webp"
              data-nimg="fill"
              class="projects-image"
              style="
                position: absolute;
                inset: 0px;
                box-sizing: border-box;
                padding: 0px;
                border: none;
                margin: auto;
                display: block;
                width: 0px;
                height: 0px;
                min-width: 100%;
                max-width: 100%;
                min-height: 100%;
                max-height: 100%;
                object-fit: cover;
                object-position: 50% 50%;
                background-color: rgb(42, 52, 83);
              "
          /></span>
        </div>
      </div>
    </div>
  </div>
  <div class="projects-right">
    <div id="head">
      <div>
        <div class="page-head">
          <h2 class="page-title">Project</h2>
          <h5>8</h5>
        </div>
        <hr class="head-separator" />
      </div>
    </div>
    <ul id="scroll-area">
      <!-- golistrik -->
      <li
        style="opacity: 1"
        id="hvr"
        (mouseover)="hover = 1"
        (mouseleave)="hover = 0"
      >
        <a [routerLink]="['/project/golistrik']" id="pro-1"
          ><div class="projects-row">
            <div class="projects-row-left">
              <div class="projects-selected-wrapper">
                <h4 class="projects-selected">→</h4>
              </div>
              <h4
                class="projects-title"
                style="transition: 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275)"
              >
                Go-Listrik
              </h4>
            </div>
            <div class="projects-row-right">
              <p class="projects-category">Company Profile</p>
            </div>
          </div></a
        >
      </li>
      <!-- bukutamu -->
      <li
        style="opacity: 1"
        id="hvr"
        (mouseover)="hover = 2"
        (mouseleave)="hover = 0"
      >
        <a [routerLink]="['/project/bukutamu']" id="pro-2"
          ><div class="projects-row">
            <div class="projects-row-left">
              <div class="projects-selected-wrapper">
                <h4 class="projects-selected">→</h4>
              </div>
              <h4
                class="projects-title"
                style="transition: 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275)"
              >
                Buku Tamu
              </h4>
            </div>
            <div class="projects-row-right">
              <p class="projects-category">Web Development</p>
            </div>
          </div></a
        >
      </li>
      <!-- skyisland -->
      <li
        style="opacity: 1"
        id="hvr"
        (mouseover)="hover = 3"
        (mouseleave)="hover = 0"
      >
        <a [routerLink]="['/project/skyisland']" id="pro-8"
          ><div class="projects-row">
            <div class="projects-row-left">
              <div class="projects-selected-wrapper">
                <h4 class="projects-selected">→</h4>
              </div>
              <h4
                class="projects-title"
                style="transition: 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275)"
              >
                sky island
              </h4>
            </div>
            <div class="projects-row-right">
              <p class="projects-category">3D Environment</p>
            </div>
          </div></a
        >
      </li>
      <!-- rain -->
      <li
        style="opacity: 1"
        id="hvr"
        (mouseover)="hover = 4"
        (mouseleave)="hover = 0"
      >
        <a [routerLink]="['/project/fascrain']" id="pro-3"
          ><div class="projects-row">
            <div class="projects-row-left">
              <div class="projects-selected-wrapper">
                <h4 class="projects-selected">→</h4>
              </div>
              <h4
                class="projects-title"
                style="transition: 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275)"
              >
                fascinating rain
              </h4>
            </div>
            <div class="projects-row-right">
              <p class="projects-category">Portrait</p>
            </div>
          </div></a
        >
      </li>
      <!-- pabp -->
      <li
        style="opacity: 1"
        id="hvr"
        (mouseover)="hover = 5"
        (mouseleave)="hover = 0"
      >
        <a [routerLink]="['/project/pabp']" id="pro-4"
          ><div class="projects-row">
            <div class="projects-row-left">
              <div class="projects-selected-wrapper">
                <h4 class="projects-selected">→</h4>
              </div>
              <h4
                class="projects-title"
                style="transition: 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275)"
              >
                pabp SMKN 7
              </h4>
            </div>
            <div class="projects-row-right">
              <p class="projects-category">UX/UI Design</p>
            </div>
          </div></a
        >
      </li>
      <!-- portfolio -->
      <li
        style="opacity: 1"
        id="hvr"
        (mouseover)="hover = 6"
        (mouseleave)="hover = 0"
      >
        <a [routerLink]="['/project/oldportfolio']" id="pro-7"
          ><div class="projects-row">
            <div class="projects-row-left">
              <div class="projects-selected-wrapper">
                <h4 class="projects-selected">→</h4>
              </div>
              <h4
                class="projects-title"
                style="transition: 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275)"
              >
                old portfolio
              </h4>
            </div>
            <div class="projects-row-right">
              <p class="projects-category">Branding</p>
            </div>
          </div></a
        >
      </li>
      <!-- perpus -->
      <li
        style="opacity: 1"
        id="hvr"
        (mouseover)="hover = 7"
        (mouseleave)="hover = 0"
      >
        <a [routerLink]="['/project/perpus']" id="pro-6"
          ><div class="projects-row">
            <div class="projects-row-left">
              <div class="projects-selected-wrapper">
                <h4 class="projects-selected">→</h4>
              </div>
              <h4
                class="projects-title"
                style="transition: 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275)"
              >
                si perpus
              </h4>
            </div>
            <div class="projects-row-right">
              <p class="projects-category">Web Development</p>
            </div>
          </div></a
        >
      </li>
      <!-- laravel -->
      <li
        style="opacity: 1"
        id="hvr"
        (mouseover)="hover = 8"
        (mouseleave)="hover = 0"
      >
        <a [routerLink]="['/projects']" id="pro-5"
          ><div class="projects-row">
            <div class="projects-row-left">
              <div class="projects-selected-wrapper">
                <h4 class="projects-selected">→</h4>
              </div>
              <h4
                class="projects-title"
                style="transition: 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275)"
              >
                Laravel blog
              </h4>
            </div>
            <div class="projects-row-right">
              <p class="projects-category">Web Development</p>
            </div>
          </div></a
        >
      </li>
    </ul>
  </div>
</div>
