<div class="projects">
  <div class="projects-left">
    <div class="projects-left-inside">
      <!-- proj-1 -->
      <div
        class="projects-image-wrapper"
        [ngStyle]="hover == 1 ? { opacity: '1' } : { opacity: '0' }"
      >
        <div
          class="projects-image-scale"
          [ngStyle]="
            hover == 1 ? { transform: 'scale(1.02)' } : { transform: 'none' }
          "
        >
          <span
            ><img
              sizes="100vw"
              src="../../../assets/img/home-hero.jpg"
              data-nimg="fill"
              class="projects-image"
              style="
                object-position: 50% 31%;
                background-color: rgb(96, 104, 135);
              "
          /></span>
        </div>
      </div>
      <!-- proj-2 -->
      <div
        class="projects-image-wrapper"
        [ngStyle]="hover == 2 ? { opacity: '1' } : { opacity: '0' }"
      >
        <div
          class="projects-image-scale"
          [ngStyle]="
            hover == 2 ? { transform: 'scale(1.02)' } : { transform: 'none' }
          "
        >
          <span
            ><img
              sizes="100vw"
              src="../../../assets/img/compressed/bukutamu/home-bt.webp"
              data-nimg="fill"
              class="projects-image"
              style="
                object-position: 50% 50%;
                background-color: rgb(177, 56, 62);
              "
          /></span>
        </div>
      </div>
      <!-- proj-3 -->
      <div
        class="projects-image-wrapper"
        [ngStyle]="hover == 3 ? { opacity: '1' } : { opacity: '0' }"
      >
        <div
          class="projects-image-scale"
          [ngStyle]="
            hover == 3 ? { transform: 'scale(1.02)' } : { transform: 'none' }
          "
        >
          <span
            ><img
              sizes="100vw"
              src="../../../assets/img/compressed/skyisland/sky_island.0052.webp"
              data-nimg="fill"
              class="projects-image"
              style="
                object-position: 50% 50%;
                background-color: rgb(42, 52, 83);
              "
          /></span>
        </div>
      </div>
      <!-- proj-4 -->
      <div
        class="projects-image-wrapper"
        [ngStyle]="hover == 4 ? { opacity: '1' } : { opacity: '0' }"
      >
        <div
          class="projects-image-scale"
          [ngStyle]="
            hover == 4 ? { transform: 'scale(1.02)' } : { transform: 'none' }
          "
        >
          <span
            ><img
              sizes="100vw"
              src="../../../assets/img/fascinating rain.jpg"
              data-nimg="fill"
              class="projects-image"
              style="
                object-position: 50% 50%;
                background-color: rgb(103, 116, 255);
              "
          /></span>
        </div>
      </div>
      <!-- proj-5 -->
      <div
        class="projects-image-wrapper"
        [ngStyle]="hover == 5 ? { opacity: '1' } : { opacity: '0' }"
      >
        <div
          class="projects-image-scale"
          [ngStyle]="
            hover == 5 ? { transform: 'scale(1.02)' } : { transform: 'none' }
          "
        >
          <span
            ><img
              sizes="100vw"
              src="../../../assets/img/pabp-login.svg"
              data-nimg="fill"
              class="projects-image"
              style="
                object-position: 50% 50%;
                background-color: rgb(48, 149, 140);
              "
          /></span>
        </div>
      </div>
      <!-- proj-6 -->
      <div
        class="projects-image-wrapper"
        [ngStyle]="hover == 6 ? { opacity: '1' } : { opacity: '0' }"
      >
        <div
          class="projects-image-scale"
          [ngStyle]="
            hover == 6 ? { transform: 'scale(1.02)' } : { transform: 'none' }
          "
        >
          <span
            ><img
              sizes="100vw"
              src="../../../assets/img/3d1x.jpg"
              data-nimg="fill"
              class="projects-image"
              style="
                object-position: 50% 50%;
                background-color: rgb(100, 100, 100);
              "
          /></span>
        </div>
      </div>
      <!-- proj-7 -->
      <div
        class="projects-image-wrapper"
        [ngStyle]="hover == 7 ? { opacity: '1' } : { opacity: '0' }"
      >
        <div
          class="projects-image-scale"
          [ngStyle]="
            hover == 7 ? { transform: 'scale(1.02)' } : { transform: 'none' }
          "
        >
          <span
            ><img
              sizes="100vw"
              src="../../../assets/img/compressed/perpus/login-perpus.webp"
              data-nimg="fill"
              class="projects-image"
              style="
                object-position: 20% 31%;
                background-color: rgb(90, 107, 105);
              "
          /></span>
        </div>
      </div>
      <!-- proj-8 -->
      <div
        class="projects-image-wrapper"
        [ngStyle]="hover == 8 ? { opacity: '1' } : { opacity: '0' }"
      >
        <div
          class="projects-image-scale"
          [ngStyle]="
            hover == 8 ? { transform: 'scale(1.02)' } : { transform: 'none' }
          "
        >
          <span
            ><img
              sizes="100vw"
              src="../../../assets/img/compressed/galleria/home.webp"
              data-nimg="fill"
              class="projects-image"
              style="
                object-position: 50% 50%;
                background-color: rgb(70, 80, 156);
              "
          /></span>
        </div>
      </div>
      <!-- proj-9 -->
      <div
        class="projects-image-wrapper"
        [ngStyle]="hover == 9 ? { opacity: '1' } : { opacity: '0' }"
      >
        <div
          class="projects-image-scale"
          [ngStyle]="
            hover == 9 ? { transform: 'scale(1.02)' } : { transform: 'none' }
          "
        >
          <span
            ><img
              sizes="100vw"
              src="../../../assets/img/compressed/memogame/start.webp"
              data-nimg="fill"
              class="projects-image"
              style="
                object-position: 50% 50%;
                background-color: rgb(70, 80, 156);
              "
          /></span>
        </div>
      </div>
      <!-- proj-10 -->
      <div
        class="projects-image-wrapper"
        [ngStyle]="hover == 10 ? { opacity: '1' } : { opacity: '0' }"
      >
        <div
          class="projects-image-scale"
          [ngStyle]="
            hover == 10 ? { transform: 'scale(1.02)' } : { transform: 'none' }
          "
        >
          <span
            ><img
              sizes="100vw"
              src="../../../assets/img/compressed/gaskan/logo.jpg"
              data-nimg="fill"
              class="projects-image"
              style="
                object-position: 50% 50%;
                background-color: rgb(70, 80, 156);
              "
          /></span>
        </div>
      </div>
    </div>
  </div>
  <div class="projects-right">
    <div id="head">
      <div>
        <div class="page-head">
          <h2 class="page-title">Project</h2>
          <h5>10</h5>
        </div>
        <hr class="head-separator" />
      </div>
    </div>
    <ul id="scroll-area">
      <!-- gaskan -->
      <li
        style="opacity: 1"
        id="hvr"
        (mouseover)="hover = 10"
        (mouseleave)="hover = 0"
      >
        <a [routerLink]="['/projects']" id="pro-5"
          ><div class="projects-row">
            <div class="projects-row-left">
              <div class="projects-selected-wrapper">
                <h4 class="projects-selected">→</h4>
              </div>
              <h4 class="projects-title">gaskan</h4>
            </div>
            <div class="projects-row-right">
              <p class="projects-category">iOS App</p>
            </div>
          </div></a
        >
      </li>
      <!-- galleria -->
      <li
        style="opacity: 1"
        id="hvr"
        (mouseover)="hover = 8"
        (mouseleave)="hover = 0"
      >
        <a [routerLink]="['/project/galleria']" id="pro-5"
          ><div class="projects-row">
            <div class="projects-row-left">
              <div class="projects-selected-wrapper">
                <h4 class="projects-selected">→</h4>
              </div>
              <h4 class="projects-title">nero galleria</h4>
            </div>
            <div class="projects-row-right">
              <p class="projects-category">Web Development</p>
            </div>
          </div></a
        >
      </li>
      <!-- memo -->
      <li
        style="opacity: 1"
        id="hvr"
        (mouseover)="hover = 9"
        (mouseleave)="hover = 0"
      >
        <a [routerLink]="['/project/memogame']" id="pro-5"
          ><div class="projects-row">
            <div class="projects-row-left">
              <div class="projects-selected-wrapper">
                <h4 class="projects-selected">→</h4>
              </div>
              <h4 class="projects-title">Memory Game</h4>
            </div>
            <div class="projects-row-right">
              <p class="projects-category">Web Game</p>
            </div>
          </div></a
        >
      </li>
      <!-- golistrik -->
      <li
        style="opacity: 1"
        id="hvr"
        (mouseover)="hover = 1"
        (mouseleave)="hover = 0"
      >
        <a [routerLink]="['/project/golistrik']" id="pro-1"
          ><div class="projects-row">
            <div class="projects-row-left">
              <div class="projects-selected-wrapper">
                <h4 class="projects-selected">→</h4>
              </div>
              <h4 class="projects-title">Go-Listrik</h4>
            </div>
            <div class="projects-row-right">
              <p class="projects-category">Company Profile</p>
            </div>
          </div></a
        >
      </li>
      <!-- bukutamu -->
      <li
        style="opacity: 1"
        id="hvr"
        (mouseover)="hover = 2"
        (mouseleave)="hover = 0"
      >
        <a [routerLink]="['/project/bukutamu']" id="pro-2"
          ><div class="projects-row">
            <div class="projects-row-left">
              <div class="projects-selected-wrapper">
                <h4 class="projects-selected">→</h4>
              </div>
              <h4 class="projects-title">Buku Tamu</h4>
            </div>
            <div class="projects-row-right">
              <p class="projects-category">Web Development</p>
            </div>
          </div></a
        >
      </li>
      <!-- skyisland -->
      <li
        style="opacity: 1"
        id="hvr"
        (mouseover)="hover = 3"
        (mouseleave)="hover = 0"
      >
        <a [routerLink]="['/project/skyisland']" id="pro-8"
          ><div class="projects-row">
            <div class="projects-row-left">
              <div class="projects-selected-wrapper">
                <h4 class="projects-selected">→</h4>
              </div>
              <h4 class="projects-title">sky island</h4>
            </div>
            <div class="projects-row-right">
              <p class="projects-category">3D Environment</p>
            </div>
          </div></a
        >
      </li>
      <!-- rain -->
      <li
        style="opacity: 1"
        id="hvr"
        (mouseover)="hover = 4"
        (mouseleave)="hover = 0"
      >
        <a [routerLink]="['/project/fascrain']" id="pro-3"
          ><div class="projects-row">
            <div class="projects-row-left">
              <div class="projects-selected-wrapper">
                <h4 class="projects-selected">→</h4>
              </div>
              <h4 class="projects-title">fascinating rain</h4>
            </div>
            <div class="projects-row-right">
              <p class="projects-category">Portrait</p>
            </div>
          </div></a
        >
      </li>
      <!-- portfolio -->
      <li
        style="opacity: 1"
        id="hvr"
        (mouseover)="hover = 6"
        (mouseleave)="hover = 0"
      >
        <a [routerLink]="['/project/oldportfolio']" id="pro-7"
          ><div class="projects-row">
            <div class="projects-row-left">
              <div class="projects-selected-wrapper">
                <h4 class="projects-selected">→</h4>
              </div>
              <h4 class="projects-title">old portfolio</h4>
            </div>
            <div class="projects-row-right">
              <p class="projects-category">Branding</p>
            </div>
          </div></a
        >
      </li>
      <!-- pabp -->
      <li
        style="opacity: 1"
        id="hvr"
        (mouseover)="hover = 5"
        (mouseleave)="hover = 0"
      >
        <a [routerLink]="['/project/pabp']" id="pro-4"
          ><div class="projects-row">
            <div class="projects-row-left">
              <div class="projects-selected-wrapper">
                <h4 class="projects-selected">→</h4>
              </div>
              <h4 class="projects-title">pabp SMKN 7</h4>
            </div>
            <div class="projects-row-right">
              <p class="projects-category">UX/UI Design</p>
            </div>
          </div></a
        >
      </li>
      <!-- perpus -->
      <li
        style="opacity: 1"
        id="hvr"
        (mouseover)="hover = 7"
        (mouseleave)="hover = 0"
      >
        <a [routerLink]="['/project/perpus']" id="pro-6"
          ><div class="projects-row">
            <div class="projects-row-left">
              <div class="projects-selected-wrapper">
                <h4 class="projects-selected">→</h4>
              </div>
              <h4 class="projects-title">si perpus</h4>
            </div>
            <div class="projects-row-right">
              <p class="projects-category">Web Development</p>
            </div>
          </div></a
        >
      </li>
    </ul>
  </div>
</div>
