.container {
  position: relative;
  z-index: 1;
  width: 100%;
}
.container .page-content {
  height: 100%;
  width: 100%;
}
@media (max-width: 47.99em) {
  .container .page-content {
    height: auto;
  }
}
.splashscreen {
  z-index: 9998;
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: var(--top-internal-margin) var(--left-right-margin);
  align-items: center;
  justify-content: center;
  row-gap: var(--top-internal-margin);
  // background-color: #212529;
  cursor: none;
}
.splashscreen .loading-text-wrapper {
  width: auto;
  height: auto;
  overflow: hidden;
}
.splashscreen .loading-text-wrapper .loading-text {
  text-transform: none;
  font-variation-settings: "wght" 500, "wdth" 100;
}
.splashscreen .credits {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 0 var(--top-internal-margin) var(--top-internal-margin);
  justify-content: center;
  align-items: center;
  display: flex;
  overflow-y: hidden;
}
.splashscreen .credits p {
  font-size: 1rem;
}
@media (max-width: 61.99em) {
  .splashscreen .credits p {
    font-size: 0.75rem;
  }
}
