<section class="development">
  <a href="./about">
    <div class="arrow arrow-back" style="z-index: 2"></div>
  </a>
  <a href="./collection">
    <div class="arrow arrow-next" style="z-index: 2"></div>
  </a>
  <div class="left-header">
    <p class="heading-number">03</p>
  </div>

  <div class="development-container">
    <div class="devs-wrap">
      <div class="section-title">
        <p id="devs">DEVELOPMENT</p>
      </div>

      <div class="devs-content">
        <div class="app-name">
          <a href="https://perpus.adrymirza.xyz" target="_blank"
            ><p>perpus.adrymirza.xyz</p></a
          >
        </div>
        <div class="app-desc">
          <p>
            Adalah aplikasi admin perpustakaan yang didevelopment dengan
            menggunakan framework Angular dengan database Firestore <br />
            Aplikasi ini terdiri dari tiga fitur utama , diantaranya Table
            Peminjaman Buku, Table Data Buku , dan Table Data User
          </p>
        </div>
        <div class="app-photos">
          <mat-tab-group
            animationDuration="1200ms"
            headerPosition="below"
            mat-align-tabs="center"
            [selectedIndex]="0"
          >
            <mat-tab label="Data Table">
              <mat-card class="mat-elevation-z2 width-90">
                <img
                  class="app-image"
                  src="../../../assets/images/app-perpus/perpus-0.PNG"
                  alt=""
                />
              </mat-card>
            </mat-tab>
            <mat-tab label="Detail Item">
              <div class="flex-card">
                <mat-card class="mat-elevation-z2">
                  <img
                    class="app-image"
                    src="../../../assets/images/app-perpus/perpus-7.PNG"
                    alt=""
                  />
                </mat-card>
                <mat-card class="mat-elevation-z2">
                  <img
                    class="app-image"
                    src="../../../assets/images/app-perpus/perpus-6.PNG"
                    alt=""
                  />
                </mat-card>
              </div>
            </mat-tab>
            <mat-tab label="Input Form">
              <div class="flex-card">
                <mat-card class="mat-elevation-z2">
                  <img
                    class="app-image"
                    src="../../../assets/images/app-perpus/perpus-8.PNG"
                    alt=""
                  />
                </mat-card>
                <mat-card class="mat-elevation-z2">
                  <img
                    class="app-image"
                    src="../../../assets/images/app-perpus/perpus-9.PNG"
                    alt=""
                  />
                </mat-card>
              </div>
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>
    </div>
  </div>
</section>
