.main {
  background-color: #534d69;
  margin-top: 0;
  padding-top: 0;
}
.bg-split {
  float: right;
  background-color: rgb(38, 32, 44);
  width: 69%;
  height: 100vh;
}
.img-container {
  position: absolute;
  background-image: url(../../../assets/images/3d.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 60.677%;
  height: 100vh;

  box-shadow: 0px 80px 140px -40px rgba(0, 0, 0, 0.6);
  animation-name: imageSize;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.arrow-back {
  width: 4%;
  height: 5%;
  position: fixed;
  top: 15%;
  left: 1.5%;
  transform: rotate(180deg);
  background-image: url(../../../assets/images/Arrowwhite.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  transition-delay: 0s;

  animation-name: arrowIn;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.arrow-back:hover {
  transform: translate3d(-15%, 0, 0) rotate(180deg);
}

.arrow-back.black {
  background-image: url(../../../assets/images/arrowblack.svg);
}

.scroll-me {
  position: absolute;
  right: 5%;
  top: 78vh;
  font-family: "futura_r";
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0.3em;
  writing-mode: vertical-rl;
}

.scroll-me::after {
  content: "";
  height: 4.8rem;
  width: 2px;
  background: #ffffff;
  position: absolute;
  margin-top: 27px;
  margin-right: 0.3em;
}

@media screen and (max-width: 1366px) {
  .scroll-me {
    font-size: 12px;
  }

  .scroll-me::after {
    margin-right: 0.5em;
    margin-top: 20px;
    height: 4rem;
  }
}

@media screen and (max-width: 500px) {
  .img-container {
    width: 100%;
    height: 70.492vh;
    box-shadow: none;
    animation-name: imageSizeMobile;
  }
  .arrow-back {
    top: 12%;
    left: 5%;
    width: 12%;
    height: 5%;
  }

  .scroll-me {
    top: 79vh;
  }

  .scroll-me::after {
    margin-right: 0.4em;
  }
}

@keyframes arrowIn {
  0% {
    transform: translateX(-100%) translateZ(0px) rotate(180deg);
  }
}

@keyframes imageSize {
  0% {
    top: 3.25%;
    left: 7%;
    width: 56.5%;
    height: 74.81vh;
  }
  100% {
    top: 0;
    left: 0;
    width: 60.677%;
    height: 100vh;
  }
}

@keyframes imageSizeMobile {
  0% {
    width: 80%;
    height: 55.633vh;
    top: 3.25%;
    left: 7%;
    box-shadow: 0px 80px 140px -40px rgba(0, 0, 0, 0.6);
  }
  100% {
    top: 0%;
    left: 0%;
    width: 100%;
    height: 70.492vh;
  }
}
