@import "~@angular/material/theming";
@include mat-core();
$web-portfolio-primary: mat-palette($mat-indigo);
$web-portfolio-accent: mat-palette($mat-pink, A200, A100, A400);
$web-portfolio-warn: mat-palette($mat-red);

$web-portfolio-theme: mat-light-theme(
  (
    color: (
      primary: $web-portfolio-primary,
      accent: $web-portfolio-accent,
      warn: $web-portfolio-warn,
    ),
  )
);

@include angular-material-theme($web-portfolio-theme);

@font-face {
  font-family: "futura_m";
  src: url(../src/assets/font/Futura-Med.woff) format("woff");
}

@font-face {
  font-family: "futura_de";
  src: url(../src/assets/font/Futura-Dem.woff) format("woff");
}

@font-face {
  font-family: "futura_r";
  src: url(../src/assets/font/Futura-Boo.woff) format("woff");
}

* {
  margin: 0;
  scroll-behavior: smooth !important;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #1c1c1d;
  overflow: hidden;
}

.lock {
  overflow: hidden;
}

section {
  width: 100%;
  height: 100vh;
  margin-top: 3%;
  padding-top: 4%;
}

.arrow {
  width: 4%;
  height: 5%;
  position: fixed;
  top: 21%;
  background-image: url(assets/images/arrowblack.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  transition-delay: 0s;

  animation-duration: 1s;
  animation-delay: 0.5s;
  animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.arrow-back {
  left: 1.5%;
  transform: rotate(180deg);
  animation-name: arrowLeft;
}

.arrow-next {
  right: 1.5%;
  animation-name: arrowRight;
}

.arrow-back:hover {
  transform: translate3d(-15%, 0, 0) rotate(180deg);
}

.arrow-next:hover {
  transform: translate3d(15%, 0, 0);
}

.heading-number {
  position: absolute;
  font-family: "Abril Fatface";
  color: #26202c;
  font-size: 38px;
}

.heading-number::after {
  content: "";
  width: 4.8rem;
  height: 2px;
  background: #020b16;
  position: absolute;
  margin-top: 27px;
}

.left-header {
  .heading-number {
    left: 0;
    padding-left: 5.2rem;
  }
  .heading-number::after {
    left: 0;
  }
}

.right-header {
  .heading-number {
    right: 0;
    padding-right: 5.2rem;
  }
  .heading-number::after {
    right: 0;
  }
}

.section-title {
  position: absolute;
  margin-top: 0.7em;
  p {
    font-family: "futura_m";
    color: #ff4d5a;
    font-size: 2.3em;
    font-weight: 600;
    letter-spacing: 0.2em;
  }
}

@media screen and (max-width: 475px) {
  body {
    overflow: unset;
  }

  section {
    overflow: hidden !important;
    margin-top: 10%;
    padding-top: 15%;
  }

  .about {
    height: 180vh !important;
  }

  .collection {
    height: 90vh !important;
  }

  .arrow {
    display: none;
  }

  .mat-tab-header-pagination-controls-enabled .mat-tab-header-pagination {
    display: none !important;
  }
}

@keyframes arrowLeft {
  0% {
    transform: translateX(-100%) translateZ(0px) rotate(180deg);
  }
}

@keyframes arrowRight {
  0% {
    transform: translateX(100%) translateZ(0px);
  }
}

//    ANGULAR MAT OVERWRITE

.mat-button-focus-overlay {
  background-color: transparent !important;
}

mat-card {
  background: #ffffff23 !important;
}

.linear-progress .mat-progress-bar-fill::after {
  border-radius: 10px !important;
  background-image: linear-gradient(
    to right,
    #1d2d50,
    #31112c 42%,
    #e94560
  ) !important;
}

.linear-progress .mat-progress-bar-background {
  fill: #ff4d5a;
}

.mat-progress-bar {
  height: 18px !important;
  border-radius: 10px !important;
  box-shadow: 0 5px 15px 0 rgb(7 33 66 / 15%) !important;
}

.mat-progress-bar[mode="indeterminate"] .mat-progress-bar-primary,
.mat-progress-bar[mode="query"] .mat-progress-bar-primary {
  animation: none !important;
}

.mat-tab-label,
.mat-tab-link {
  font-family: "futura_m" !important;
  text-transform: uppercase !important;
}
