<div class="menu">
  <div class="menu-content">
    <div class="menu-items">
      <nav>
        <ol>
          <li>
            <div class="item-inner" style="transform: none">
              <a [routerLink]="['/']"><h1>Home</h1></a>
            </div>
          </li>
          <li>
            <div class="item-inner" style="transform: none">
              <a [routerLink]="['/about']"><h1>About</h1></a>
            </div>
          </li>
          <li>
            <div class="item-inner" style="transform: none">
              <a [routerLink]="['/projects']"><h1>Project</h1></a>
            </div>
          </li>
          <li>
            <div class="item-inner" style="transform: none">
              <a [routerLink]="['/contact']"><h1>Contact</h1></a>
            </div>
          </li>
        </ol>
      </nav>
    </div>
    <!-- <div class="menu-socials">
      <ul>
        <div>
          <div>
            <li>
              <div class="item-inner" style="transform: none">
                <div class="link-wrapper">
                  <div class="link">
                    <a
                      href="https://www.instagram.com/itssharl.ee/"
                      target="_blank"
                      rel="noreferrer"
                      >↗
                      Instagram</a
                    >
                  </div>
                  <div
                    class="link-underline"
                    style="transform: translateX(-101%) translateZ(0)"
                  ></div>
                </div>
              </div>
            </li>
            <li>
              <div class="item-inner" style="transform: none">
                <div class="link-wrapper">
                  <div class="link">
                    <a
                      href="https://www.behance.net/itssharlee"
                      target="_blank"
                      rel="noreferrer"
                      >↗
                      Behance</a
                    >
                  </div>
                  <div
                    class="link-underline"
                    style="transform: translateX(-101%) translateZ(0)"
                  ></div>
                </div>
              </div>
            </li>
            <br />
          </div>
          <div>
            <li>
              <div class="item-inner" style="transform: none">
                <div class="link-wrapper">
                  <div class="link">
                    <a
                      href="https://www.linkedin.com/in/charles-b-42bab815a/"
                      target="_blank"
                      rel="noreferrer"
                      >↗
                      LinkedIn</a
                    >
                  </div>
                  <div
                    class="link-underline"
                    style="transform: translateX(-101%) translateZ(0)"
                  ></div>
                </div>
              </div>
            </li>
            <br />
          </div>
        </div>
      </ul>
    </div> -->
  </div>
</div>
